<div>Call me Accordion-<strong>R</strong></div>
<div class="card" *ngIf="panels.length === 0">No panels provided.</div>
<div class="card" *ngIf="panels.length > 0">

  <!--<template ngFor let-panel [ngForOf]="panels">-->
  <ng-container *ngFor="let panel of panels">

    <a href role="tab" class="card-header" 
      [style.display]="'block'"
      [innerHTML]="panel.title"
      (click)="onTitleClick($event, panel)"
      [class.text-muted]="panel.disabled"
    ></a>

    <div *ngIf="!panel.disabled && animation"
      role="tablpanel" class="card-block" 
      [innerHTML]="panel.content" 
      [@panelContentState]="panel.expanded ? 'expanded' : 'collapsed'"
    ></div>

    <div *ngIf="!panel.disabled && !animation"
      role="tablpanel" class="card-block" 
      [innerHTML]="panel.content" 
      [style.display]="panel.expanded ? null : 'none'"
    ></div>
    
  </ng-container>  
  <!--</template>-->
</div>

<!--      [style.display]="panel.expanded ? 'inherit' : 'none'" -->

  <!--<div role="tab" class="card-header" 
    (click)="disabled ? void : expanded = !expanded; stateRxx.next({panel: this, expanded: expanded})"
    [class.text-muted]="disabled"
  >
    <div class="tooltip-when-disabled" *ngIf="disabled">Disabled</div>
    <ng-content select="tl-accordion-panel-title"></ng-content>
  </div>
  <div role="tablpanel" class="card-block" [style.display]="expanded ? 'inherit' : 'none'" *ngIf="!disabled">
    <ng-content select="tl-accordion-panel-content"></ng-content>
  </div>-->
