<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/hero" routerLinkActive="active">Hero</a>
  <!--<a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/about/detail" routerLinkActive="active">About/Detail</a>-->
  <!--<a *ngIf="loginUrl" [href]="loginUrl">Login with Github</a>-->
  <app-login 
    [loginStatus]="userService.loginStatusRxx | async"
    [loginUrl]="userService.loginUrlRxx | async"
    [loggingIn]="userService.logginIn"
    (clickLogin)="userService.loggingIn = true"
  ></app-login>
</nav>
<router-outlet></router-outlet>