<h1>
  {{title}}
</h1>
<nav>
  <a class="btn btn-default" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="btn btn-default" routerLink="/hero" routerLinkActive="active">Hero</a>
  <a class="btn btn-default" routerLink="/profile" routerLinkActive="active">Profile </a>
  <!--<a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/about/detail" routerLinkActive="active">About/Detail</a>-->
  <!--<a *ngIf="loginUrl" [href]="loginUrl">Login with Github</a>-->
  <app-login 
    [loginStatus]="userService.loginStatusRxx | async"
    [loginUrl]="userService.loginUrlRxx | async"
    [loggingIn]="userService.loggingInRxx | async"
    (logOut)="userService.logOut()"
    (logIn)="userService.logIn()"
  ></app-login>
  <a class="clear"></a>
</nav>
<button class="btn btn-primary" (click)="userService.nothing()">Nothing</button>
<router-outlet></router-outlet>



