div {
  position: relative;
  display: inline-block;
}

div:hover {
  left: 2px;
}

 a {
  background: indigo;
  color: white !important;
  padding: 0.5em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

:host {
  float: right,
}