/* You can add global styles to this file, and also import other style files */


@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  // font-family: Arial, Helvetica, sans-serif;
}